body {
  background-image: url(https://picsum.photos/id/62/1920/1080);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app__left_section {
  margin: 1rem;
  flex: 1;
}

.app__right_section {
  width: 40%;
  /* flex: 1; */
  /* border: 1px white solid; */
  background: rgba(255, 255, 255, 0.35);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
